body {
  background-color: lightblue;
}
.square {
  height: 200px;
  width: 200px;
  background-color:#555;
  position:absolute;
  left:550px;
  top:100px;
}
.p1{
    font-size:35px;
    text-align:center;
}
.p2{
    text-align:center;
    top:50px;
}